@font-face {
	font-family: 'SangBleu Republic';
	src: url('assets/fonts/sang-bleu-republic-book.woff2') format('woff2'),
	url('assets/fonts/sang-bleu-republic-book.woff') format('woff');
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SangBleu Republic';
	src: url('assets/fonts/sang-bleu-republic-bok-italic.woff2') format('woff2'),
	url('assets/fonts/sang-bleu-republic-bok-italic.woff') format('woff');
	font-weight: 450;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SangBleu Republic';
	src: url('assets/fonts/sang-bleu-republic-medium.woff2') format('woff2'),
	url('assets/fonts/sang-bleu-republic-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SangBleu Republic';
	src: url('assets/fonts/sang-bleu-republic-medium-italic.woff2') format('woff2'),
	url('assets/fonts/sang-bleu-republic-medium-italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Suisse Intl';
	src: url('assets/fonts/suisse-intl-book.woff2') format('woff2'),
	url('assets/fonts/suisse-intl-book.woff') format('woff');
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}
