//$grid-breakpoints: (
//	xs: 0,
//	sm: 340px,
//	md: 640px,
//	lg: 1024px,
//	xl: 1440px
//) !default;

$grid-breakpoints: (
	xs: 0,
	sm: 480px,
	md: 768px,
	lg: 1280px,
	xl: 1601px
) !default;

$grid-max-width: 1920px;
